/node_modules
/LtxStorage/bin
/LtxStorage/obj
/MonsterWorldMod/GameData/configs/items/weapons/upgrades/w_xxx_monster_world.ltx
/MonsterWorldMod/GameData/configs/items/weapons/w_xxx_monster_world.ltx
/MonsterWorldMod/GameData/configs/items/weapons/w_xxx_monster_world_upgrades.ltx
/MonsterWorldMod/GameData/configs/ misc/squad_descr/squad_descr_monster_world.ltx
